header{
    background-image: url(https://chrisnercessian.github.io/science-geniuses/images/animal-easter-chick-chicken.jpg);
    padding: 100px;
    padding-right: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 50vh;
    background-position: 50% 30%;
}
.giraffes{
    text-decoration: underline;
    color: blue;
}
h1{
    color: red;
}
