body{
    margin: 0px;
}
.menu{
    background-color: #5DB7DE;
    margin: 0px;
    list-style-type: none;
}
.menu li{
    display: inline-block;
    background-color: #F1E9DB;
    margin: 4px 0px;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.menu li:active{
    background-color: #A39B8B;
    color: #716A5C;

}
#a:active{
    background-color: #011936;
    color: white;
}
#b:active{
    background-color: #c049ae;
    color: white;
}
#c:active{
    background-color: #62AB37;
    color: white;
}
#d:active{
    background-color: #716A5C;
    color: white;
    
}
a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-style: normal
}
.menu li:nth-child(4){
    margin-left: 4px;
}
footer{
    background-color: blue;
    padding: 20px;
    font-size: 20px;
    margin: 0;
}
#Home{
    position: sticky;
    top: -190px;
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background-image: url("https://chrisnercessian.github.io/science-geniuses/images/How-to-Become-a-Research-Scientist.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 80vh;
}
#hometext{
    margin-top: 35px;
    padding: 15px;
}
form{
    margin-top: 10px;
}
h1, h2{
    text-align: center;
}
